html, body{margin:0; padding:0}

body {
    background-color: #202020;
}

.NavBar{
    display: flex
}

.NavBar h1 a{
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 45px;
    width: 24vw;
    padding-left: 5vw;
}

.NavBar h2{
    font-family: 'Libre Franklin', sans-serif;
    color: #9C9C9C;
    font-size: 15px;
    justify-content: center;
    padding-top: 5vh;
    padding-left: 10vw;
}

ul li{
    display: flex;
    text-decoration: none;
    justify-content: center;
    justify-content: space-between;
    padding-right: 10vw;
}
a {
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    color: #9C9C9C;
    font-size: 15px;
}

a:hover {
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    color: #E7E7E7;
    font-size: 15px;
    text-shadow: 2px 2px 8px grey;
}
ul {
    display: flex;
}

.NavBar h3 {
    display: flex
}
.Spot {
    height: 3vh;
    width: 1.5vw;
    padding-right: 2vw;
    padding-left: 7vw;
    padding-top: 5.6vh;
}
.Sound {
   height: 2.5vh;
    width: 2.5vw; 
    padding-top: 6vh;
}
.Vesu{
    height: 80vh;
    width: auto;
    padding-left: 5vw;
    padding-top: 10vh;
}
#page1 .Content{
    display: flex;
    padding-bottom: 15%;
}

.Welcome{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    padding-top: 30vh;
    padding-left: 8vw;
}
    p{
        font-size: 52px;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: white;
        margin:0; padding:0;
    }
    p2{
        font-size: 20px;
        justify-content: center;
        font-family: 'Mukta', sans-serif;
        font-weight: 200;
        color: #B2B2B2;
        margin:0; padding:0;
}
.footer{
    display: flex;
    background-color: #2D2D2D;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    
}
.footContain{
    display: flex;
    justify-content: center;
    width: 10vw;
    align-items: center;
}
.footContain p{
    font-family: 'Libre Franklin', sans-serif;
    color: #9C9C9C;
    font-size: 14px;
}

#page2 .Welcome p{
        font-size: 72px;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: white;
        margin:0; padding:0;
}

#page2 .Content{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 15%;
    padding-right: 10%;
}
#page3 .Content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.railRoad{
    padding: 2%;
    height: 100vh;
    width: auto;
}